nav {
    background-color: #333399;
}

.btn {
    background-color: #3399FF;
}

.btn:hover {
    background-color: cornflowerblue;
    //background-color: cornflowerblue;
}
.btn:active {
    //background-color:dimgray;
}

nav .left {
    //margin-left: 14%;
}
.section {
    color: silver;
}
.section a {
    color: black;
}

.section h5 {
    border: solid #3366CC;
    border-radius: 0.3em;
    background-color: #3366CC;
    padding: 10px;
    color: white;
}

.footer-copyright {
    padding-top: 3%;
}
