nav {
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: #343436;
}

.btn {
    background-color: gray;
}

.btn:hover {
    background-color: silver;
}
.btn:active {
    background-color:dimgray;
=======
=======
>>>>>>> origin/master
    background-color: #333399;
}

.btn {
    background-color: #3399FF;
}

.btn:hover {
    background-color: cornflowerblue;
    //background-color: cornflowerblue;
}
.btn:active {
    //background-color:dimgray;
<<<<<<< HEAD
>>>>>>> origin/master
=======
>>>>>>> origin/master
}

nav .left {
    //margin-left: 14%;
}
<<<<<<< HEAD
<<<<<<< HEAD

=======
.section {
    color: silver;
}
>>>>>>> origin/master
=======
.section {
    color: silver;
}
>>>>>>> origin/master
.section a {
    color: black;
}

.section h5 {
<<<<<<< HEAD
<<<<<<< HEAD
    border: solid silver;
    border-radius: 0.3em;
    background-color: silver;
    padding: 10px;
=======
=======
>>>>>>> origin/master
    border: solid #3366CC;
    border-radius: 0.3em;
    background-color: #3366CC;
    padding: 10px;
    color: white;
<<<<<<< HEAD
>>>>>>> origin/master
=======
>>>>>>> origin/master
}

.footer-copyright {
    padding-top: 3%;
}
